<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <%- include("../partials/navbar") %> <%- include("../partials/sidebar") %>
      <%- body %> <%- include("../partials/footer") %>
    </div>
    <%- include("../partials/foot") %> <%- script %>
  </body>
</html>
