<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
              <a href="/dashboard/posts">Postingan</a>
            </li>
            <li class="breadcrumb-item active">Detail</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="container-fluid">
      <form action="/dashboard/posts/<%= post.id %>?overrideMethod=put" method="post">
        <div class="row">
          <div class="col-12 col-md-8">
            <div class="card">
              <div class="card-body">
                <div class="form-group">
                  <label>Judul</label>
                  <input value="<%= post.title %>" type="text" name="title" class="form-control" placeholder="Masukkan Judul" required />
                </div>
                <div class="form-group">
                  <label>Isi</label>
                  <textarea id="body" name="body" class="form-control" required>
                    <%= post.body %>
                  </textarea>
                </div>
                <button type="submit" class="btn btn-primary">Simpan</button>
                <button type="button" class="btn btn-danger">Hapus</button>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="card">
              <div class="card-body">
                <div id="thumbnailChooser" class="form-group">
                  <label>Thumbnail</label>
                  <input type="file" class="form-control" onchange="uploadThumbnail(this)" />
                </div>
                <img id="thumbnailPreview" alt="thumbnail" width="100%" height="200px" style="object-fit: cover" />
                <button id="thumbnailRemover" type="button" class="btn btn-link text-danger" style="margin-left: -16px;" onclick="deleteThumbnail()">Hapus Thumbnail</button>
                <input id="thumbnail" value="<%= post.thumbnail %>" type="hidden" name="thumbnail" />
                <div class="form-group">
                  <label>Kategori</label>
                  <select name="categoryId" class="form-control" required>
                    <option value="" disabled selected>Pilih Kategori</option>
                    <% categories.forEach(function (category) { %>
                    <option value="<%= category.id %>" <% if (post.category.id === category.id) { %> selected <% } %>>
                      <%= category.name %>
                    </option>
                    <% }) %>
                  </select>
                </div>
                <div class="form-group">
                  <label>Tags</label>
                  <textarea name="tags" class="form-control" placeholder="Masukkan Tags (Pisahkan dengan koma)"><%= post.tags %>
                  </textarea>
                </div>
                <div class="form-group">
                  <label>Status</label>
                  <select name="status" class="form-control" required>
                    <option value="UNPUBLISHED" <% if (post.status === 'UNPUBLISHED') { %> selected <% } %>>Draft</option>
                    <option value="PUBLISHED" <% if (post.status === 'PUBLISHED') { %> selected <% } %>>Dipublikasi</option>
                  </select>
                </div>
                <p class="text-secondary" style="font-size: 14px">
                  Terakhir diperbarui pada: <%= post.updatedAt %>
                </p>
                <p class="text-secondary" style="margin-top: -10px; font-size: 14px">
                  Oleh: <%= post.user.fullname %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>

<script>
  $("document").ready(function() {
    $("#body").summernote({
      height: 200,
      callbacks: {
        onDialogShown: function() {
          $("input[name=files]").prop("multiple", false);
        },

        onImageUpload: async function(files) {
          const formData = new FormData();
          formData.append("file", files[0]);

          const res = await fetch("/api/session-only/upload/image", {
            method: "post",
            body: formData,
          });

          const json = await res.json();

          $("#body").summernote(
            "insertImage",
            json.data.url,
            json.data.filename
          );
        },
      },
    });

    checkThumbnail()
  });

  async function uploadThumbnail(e) {
    const formData = new FormData();
    formData.append("file", e.files[0]);

    const res = await fetch("/api/session-only/upload/image", {
      method: "post",
      body: formData,
    });

    const json = await res.json();
    $("#thumbnail").val(json.data.url);
    checkThumbnail()
  }

  function checkThumbnail() {
    if ($("#thumbnail").val()) {
      $("#thumbnailChooser").hide()
      $("#thumbnailRemover").show()
      $("#thumbnailPreview").show()
      $("#thumbnailPreview").attr("src", $("#thumbnail").val())
    } else {
      $("#thumbnailChooser").show()
      $("#thumbnailRemover").hide()
      $("#thumbnailPreview").hide()
      $("#thumbnailPreview").attr("src", "")
    }
  }

  function deleteThumbnail() {
    console.log("hehe")
    $("#thumbnail").val("")
    checkThumbnail()
  }
</script>